.categories-list {
  list-style: none; /* Add this line to remove bullet points */
  margin: 0;
  padding: 0;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(174, 178, 185, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}