.flashcard {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  transition: height 0.3s ease;
}

.flashcard__front,
.flashcard__back {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 24px 18px 24px 24px;
  border-radius: 10px;
  background: var(--bg-color);
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  overflow: hidden;
  z-index: 1;
}

/* Flip States */
.flashcard__front {
  transform: rotateX(0deg);
}
.flashcard--flipped .flashcard__front {
  transform: rotateX(180deg);
}

.flashcard__back {
  transform: rotateX(180deg);
}
.flashcard--flipped .flashcard__back {
  transform: rotateX(360deg);
  z-index: 2;
}

/* Question/Answer areas */
.flashcard__question,
.flashcard__answer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  padding-right: 8px;
}

.flashcard__question-content,
.flashcard__answer-content {
  margin: auto 0;
}

/* Custom Scrollbar Q and A */
.flashcard__question::-webkit-scrollbar,
.flashcard__answer::-webkit-scrollbar {
  width: 5px;
}

.flashcard__question::-webkit-scrollbar-thumb,
.flashcard__answer::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 3px;
}

.flashcard__question::-webkit-scrollbar-track,
.flashcard__answer::-webkit-scrollbar-track {
  background: transparent;
}

.flashcard__code-content {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: start;
  font-family: 'Courier New', monospace;
  color: var(--bg-color);
  background-color: var(--bg-dark);
  padding: 1rem;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
  overflow-x: auto;
}

/* Menu Bar */
.flashcard__bar {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  user-select: none;
  height: 30px;
  padding-top: 5px;
}

.flashcard__bar-item {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.flashcard__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;

  cursor: pointer;
}

.flashcard__icon svg {
  width: 18px;
  height: 18px;
}

.bulb svg {
  width: 24px;
  height: 24px;
}
.icon-flip svg {
  display: inline-block;
  transform: rotate(180deg);
  margin-right: 0.3rem;
}

/* Flashcard Overlay */
.flashcard__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(226, 232, 254, 0.41);
  border: 1px solid var(--primary-light);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  cursor: default;
  z-index: 10;
}

.flashcard__overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: auto;
  color: var(--primary-text);
}

.flashcard__overlay-close {
  position: absolute;
  top: 7px;
  right: 14px;
  background: none;
  border: none;
  font-size: 1.25rem;
  color: inherit;
  cursor: pointer;
  z-index: 11;
}

/* Overlay Custom Scrollbar */
.flashcard__overlay-content::-webkit-scrollbar {
  width: 5px;
  padding-left: 15px;
}

.flashcard__overlay-content::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 3px;
}

.flashcard__overlay-content::-webkit-scrollbar-track {
  background: transparent;
}

.flashcard__explanation {
  font-weight: 500;
  display: none;
  color: var(--info-dark);
}

.flashcard__reference-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: disc inside;
  width: 100%;
  height: auto;
}

.flashcard__reference-item {
  color: var(--primary-medium);
}

.flashcard__reference-link {
  color: var(--primary-medium);
  text-decoration: none;
}

.flashcard__reference-link:hover {
  text-decoration: underline;
}
