@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Light mode (default) */
:root {
  /* Background & neutral */
  --bg-color: #ffffff;
  --surface-color: #e6e6f7;
  --primary-text: #444050;
  --secondary-text: #6d6b77;

  /* Primary */
  --primary-light: #9294f5;
  --primary-medium: #6366f1;
  --primary-dark: #4547a9;

  /* Secondary */
  --secondary-light: #fabdc5;
  --secondary-medium: #f87171;
  --secondary-dark: #e35e74;

  /* Accent */
  --accent-light: #cdf1ee;
  --accent-medium: #34c5b8;
  --accent-dark: #279f95;

  /* Status */
  --info-light: #6ad0fa;
  --info-dark: #0ca6e9;

  --success-light: #65d9cc;
  --success-dark: #2bd4bd;

  --warning-light: #f9db7b;
  --warning-dark: #f4c152;

  --error-light: #fca0a8;
  --error-dark: #fb6f84;

  /* font */
  --font-primary: 'Poppins', sans-serif;
}

/* Dark mode override */
[data-theme='dark'] {
  /* Background & neutral */
  --bg-color: #25293c;
  --surface-color: #464c67;
  --primary-text: #ffffff;
  --secondary-text: #6d6b77;

  /* Primary */
  --primary-light: #9294f5;
  --primary-medium: #6366f1;
  --primary-dark: #4547a9;

  /* Secondary */
  --secondary-light: #fa9c9c;
  --secondary-medium: #f87171;
  --secondary-dark: #ae4f4f;

  /* Accent */
  --accent-light: #6be1d1;
  --accent-medium: #34c5b8;
  --accent-dark: #1e9484;

  /* Status */
  --info-light: #b6e4f8;
  --info-dark: #0ca6e9;

  --success-light: #8fe2d8;
  --success-dark: #2bd4bd;

  --warning-light: #f9db7b;
  --warning-dark: #f4c152;

  --error-light: #fca0a8;
  --error-dark: #fb6f84;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  background-color: var(--bg-color);
  color: var(--primary-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  line-height: 1.6;
  min-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--accent);
}

/* Media queries */

/* XtraSmall Screens (≥430px) */
@media (min-width: 430px) {
}

/* Small Screens (≥768px) */
@media (min-width: 768px) {
}

/* Medium Screens (≥992px) */
@media (min-width: 992px) {
}

/* Large Screens (≥1200px) */
@media (min-width: 1200px) {
}
